.operation {
  display: flex;
  flex-direction: column;
  height: 100vh;
  &-contet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    &-upload {
      width: 792px;
      height: 480px;
      flex-shrink: 0;
      border-radius: 12px;
      background: var(--Feature-BG, #f3f8ff);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: grab;
      &:hover {
        border-radius: 12px;
        border: 4px dashed var(--Primay-Blue, #008eff);
        background: var(--Feature-BG, #f3f8ff);
      }

      &.fail {
        border-radius: 12px;
        background: #fff1f1;
        &:hover {
          display: none;
        }
      }

      & > div:nth-child(2) {
        color: var(--Text-Primary, #12141d);
        text-align: center;

        /* Body Large */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 28px */
        margin-top: 20px;
      }
      & > div:nth-child(3) {
        color: var(--Text-Secondary, #6f7075);
        text-align: center;

        /* Body Normal */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
        margin: 32px 0;
      }
      .err {
        color: var(--Text-Secondary, #6f7075);
        text-align: center;

        /* Body Large */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 28px */
        margin-top: 20px;
      }
      .btn {
        display: flex;
        width: 384px;
        padding: 16px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        background: var(--Primay-Blue, #008eff);

        color: #fff;
        text-align: right;

        /* Button */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
        cursor: pointer;
      }
    }

    &-preview {
      .img {
        flex-shrink: 0;
        border: 1.5px solid var(--Yellow, #f2c94c);
        background: lightgray;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        &::before {
          content: '';
          width: 1500px;
          height: 1500px;
          background-image: url('Src/assets/img/logo.svg'); /* 水印图片的URL */
          background-repeat: repeat; /* 重复水印图片 */
          opacity: 0.085; /* 设置水印透明度 */
          pointer-events: none; /* 防止水印干扰用户交互 */
          z-index: 10;
          position: absolute;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }

      .g1 {
        position: absolute;
        top: -64px;
        left: 0;
        width: 100%;
        text-align: center;
      }
      .g2 {
        position: absolute;
        top: 21px;
        left: 60%;
        width: 304px;
        height: 1px;
        background: #000;
      }
      .g3 {
        position: absolute;
        bottom: 116px;
        left: 60%;
        width: 304px;
        height: 1px;
        background: #000;
      }
      .l1 {
        position: absolute;
        top: 0px;
        right: -69px;
        > span {
          float: right;
          line-height: 384px;
        }
      }
      .l2 {
        position: absolute;
        top: 20px;
        right: -150px;
        > span {
          float: right;
          line-height: 244px;
          margin-left: 10px;
        }
      }

      .btn {
        color: var(--Background, #fff);

        /* Button */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
        display: flex;
        width: 384px;
        padding: 16px 60px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 4px;
        background: var(--Primay-Blue, #008eff);
        cursor: pointer;

        margin-top: 42px;
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 792px;
      padding-top: 40px;
      color: var(--Text-Secondary, #6f7075);

      /* Body Large */
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 28px */

      > div {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      > .fail {
        svg {
          width: 24px;
          height: 24px;
          margin-right: 8px;
        }
      }
    }

    &-col {
      flex-direction: row;
      gap: 203px;
    }

    &-col > &-info {
      width: fit-content;
      padding-top: 0;
      margin-top: -60px;
      > div {
        color: var(--Text-Secondary, #6f7075);

        /* Body Large */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 28px */
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 12px;
        width: 588px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &:not(:last-child) {
          margin-bottom: 28px;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .operation {
    &-contet {
      &-col {
        flex-direction: column;
        gap: 0;
      }
    }
  }
}
